<div class="message-container show-container">
  <div class="message show-message">
    <div class="message-header show-header">
      <div class="message-header-title show-title">
        <%= @user_post.user.name %>
      </div>
      <div class="message-header-date show-date">
        <%= @user_post.created_at %>
      </div>
    </div>
    <div class="message-body show-body">
      <%= @user_post.message %>
    </div>
    <div class="message-likes show-likes">
      <div class='post-buttons show-buttons'>
        <%= render 'comments' %>
      </div>
      <p class="likes-count"><%= @user_post.likes.count %> <%= (@user_post.likes.count) <= 1 ? 'Like' : 'Likes'%></p>
    </div>
  </div>
  <h2 class='show-comment-title'>Comments</h2>
  <div class='show-comments'>
    <% @comments.each do |comment| %>
      <div class='comment-container'>
        <div class='message-header comment-header'>
          <div class='comment-header-title'>
            <%= User.find(comment.user_id).name %>
          </div>
          <div class='comment-header-date'>
            <%= comment.created_at.strftime("%Y-%m-%d") %>
          </div>
        </div>
        <div class='message-body comment-body'>
          <%= comment.message %>
        </div>
        <div class='comment-buttons'>
          <% if comment.user_id == current_user.id %>
            <%= link_to 'Edit', edit_comment_path(comment.id, user_post_id: comment.user_post_id) %>
            <%= link_to 'delete', user_post_comment_path(comment.id, user_post_id: comment.user_post_id), method: :delete %>
          <% end %>
          <% if @user_post.user_id == current_user.id && comment.user_id != current_user.id %>
            <%= link_to 'delete', user_post_comment_path(comment.id, user_post_id: comment.user_post_id), method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>