<div class="container">
  <div class="column side-bar left-column">
    <%= render 'left_bar' %>
  </div>
  <div class="column message-feed center-column">
    <div class="message">
      <%= render 'form', user_post: @user_post %>
    </div>
    <div class="feed front-feed">
      <%= render 'feed', user_post: @user_post %>
    </div>
  </div>
  <div class="column right-bar right-column">
    <div class='friend-suggs'>
      <%= render 'friend_suggestions' %>
    </div>
    <div class='friends'>
      <%= render 'right_bar_friends' %>
    </div>
  </div>
</div>