<p id="notice"><%= notice %></p>
<div class='container'>
  <div class="column side-bar left-column">
    <%= render 'left_bar' %>
  </div>
  <div id='show-mid-col', class="column message-feed center-column">
    <%= render 'show_message'%>
    <%= render 'comments/form' %>
  </div>
  <div class="column right-bar right-column">
    <div class='friend-suggs'>
      <%= render 'friend_suggestions' %>
    </div>
    <div class='friends'>
      <%= render 'right_bar_friends' %>
    </div>
  </div>
</div>