<p id="notice"><%= notice %></p>

<p>
  <strong>User post:</strong>
  <%= @comment.user_post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
