<div class='upper-info'>
  <div class='avatar'>
    <%= image_tag User.find(params[:id]).avatar_thumbnail, class: 'user_avatar' %>
  </div>
  <div class='user-name'>
    <h1 class='name'><%= @user.name %></h1>
  </div>
  <div class='user-info'>
    <span class='upper-info-item' >
      <i class="fas fa-tint"></i>-type: 
      <%= @user.blood_type %>
    </span>
    <span class='upper-info-item' >
      <i class="fas fa-graduation-cap"></i>: 
      <%= @user.education %></span>
  </div>
  <div class='add-button'>
    <% unless @user == current_user %>
    <% valid_request = FriendRequest.where(friend_id: @user) %>
      <% if valid_request.exists? %>
        <p>Friend request sent</p>
      <% else %>
        <% if @user.friends.include? current_user %>
          <%= link_to 'Unfriend', friends_destroy_path(friend: @user.id), method: :delete, class: 'button is-danger' %>
        <% else %>
          <%= link_to "send friend request",  friend_requests_path(friend_id: @user.id), method: :post, class: 'button is-primary' %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "edit profile", edit_user_registration_path(@user), class: 'button is-primary' %>
    <% end %>
  </div>
</div>